.genoncall {
  font-family: 'Open Sans', 'Microsoft JhengHei', sans-serif;
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  color: #fff;
}

.genoncall img {
  display: block;
  margin: 90px auto 0 auto;
  z-index: 0;
}

.genoncall .title {
  font-size: calc(48px + (66 - 48) * ((100vw - 360px) / (1440 - 360)));
  font-weight: 500;
  color: #FFF;
  line-height: 1.8;
}

.genoncall .subtitle {
  font-size: calc(24px + (28 - 24) * ((100vw - 360px) / (1440 - 360)));
  letter-spacing: 3px;
  font-weight: 300;
  margin-bottom: -30px;
  color: #FFF;
}

.genoncall .content {
  font-size: calc(18px + (20 - 18) * ((100vw - 360px) / (1440 - 360)));
  color: #9f9e9f;
  letter-spacing: 3px;
  font-weight: 400;
  margin-top: -30px;
}

@media (max-width: 850px) {
  .genoncall .content {
    margin-top: -20px;
  }
  .genoncall img {
    margin-top: 80px;
  }
  .genoncall .genoncall-body {
    margin-top: -40px;
  }
}

@media (max-width: 768px) {
  .genoncall .title {
    margin-top: 10px;
  }
  .genoncall .subtitle {
    margin-top: 20px;
  }
  .genoncall img {
    padding-top: 40px;
  }
}

@media (max-width: 480px) {
  .genoncall .title {
    font-size: 48px;
    line-height: 1.1;
  }
  .genoncall .subtitle {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .genoncall .content {
    font-size: 16px;
    margin-top: 10px;
  }
  .genoncall .btn {
    font-size: 16px;
  }
  .genoncall .genoncall-body {
    margin-top: -20px;
  }
}

.genoncall-body {
  z-index: 2;
  position: relative;
  margin-top: -90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* index->product */
.category-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(#181818));
  background: linear-gradient(to bottom, #1c1c1c 0%, #181818 100%);
  background: -webkit-linear-gradient(top, #1c1c1c 0%, #181818 100%);
}

.category-card img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

.card-body {
  padding: 0;
}

.category-card .card-body {
  width: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  font-weight: 600;
  padding-bottom: 1rem;
  overflow: hidden;
}

@media (min-width: 1601px) {
  .category-card {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .category-card img {
    width: 110%;
  }
  .category-card .card-body {
    font-size: 1.3em;
    line-height: 1.5;
  }
}

@media (max-width: 1600px) {
  .category-card {
    height: 420px;
  }
}

@media (max-width: 762px) {
  .category-card {
    height: 380px;
  }
  .category-card .card-body {
    margin-bottom: 1.5rem;
    width: 85%;
    font-size: 1em;
  }
  .category-card img {
    width: 100%;
  }
}

/* index->news */
.news-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(28, 28, 28, 0.85);
}

.news-card:hover {
  background-color: rgba(46, 46, 46, 0.85);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.news-card img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

.news-card .card-head {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1.5rem;
}

.news-card .card-head .card-title {
  width: 100%;
  color: #fff;
  font-size: 42px;
  letter-spacing: 5px;
  font-weight: 500;
  line-height: 1;
}

.news-card .card-head .card-subtitle {
  width: 100%;
  letter-spacing: 2px;
  font-size: 22px;
  line-height: 1;
}

.news-card .card-body {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(16px + (20 - 16) * ((100vw - 360px) / (1440 - 360)));
  letter-spacing: 2px;
  font-weight: 500;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
}

.news-card.new-pd .card-body {
  width: 100%;
  height: 100%;
  display: block;
  text-transform: uppercase;
  background-color: #B8292D;
}

.news-card.new-pd:hover .card-body {
  background-color: #d6484c;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.news-card.new-pd:hover .card-title, .news-card.new-pd:hover .card-subtitle {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.news-card.dc-pd {
  cursor: not-allowed;
}

.news-card.dc-pd .card-body {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #6c6f72;
}

.news-card.dc-pd:hover .card-body {
  background-color: #222323;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.news-card.dc-pd:hover img {
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.news-card.dc-pd:hover .card-title, .news-card.dc-pd:hover .card-subtitle {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

@media (max-width: 2000px) {
  .news-card .card-body {
    width: 100%;
    height: 77px;
    display: -webkit-box;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1600px) {
  .news-card .card-body {
    width: 218px;
  }
  .news-card.dc-pd::after {
    font-size: 1.55em;
  }
  .news-card .card-head .card-title {
    font-size: 1.5em;
  }
  .news-card .card-head .card-subtitle {
    font-size: 1.05em;
  }
}

@media (max-width: 1400px) {
  .news-card .card-body {
    width: 210px;
  }
}

@media (max-width: 1200px) {
  .news-card .card-body {
    width: 205px;
  }
  .news-card .card-head .card-title {
    font-size: 1.25em;
  }
  .news-card .card-head .card-subtitle {
    font-size: 0.85em;
  }
}

@media (max-width: 992px) {
  .news-card .card-body {
    width: 178px;
    font-size: 18px;
  }
}

/*overlay*/
.bg-overlay-content {
  padding: 0 1rem;
}

.bg-overlay-content p {
  font-size: calc(22px + (24 - 22) * ((100vw - 360px) / (1440 - 360)));
  color: #c0c0c0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  font-weight: 400;
  -webkit-box-orient: vertical;
}

.overlay-title {
  font-size: 1.3em;
  padding: 0.5rem 0;
  font-weight: 500;
  letter-spacing: 2px;
  color: #e9e9e9;
}

.overlay-btn {
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 1600px) {
  .bg-overlay-content .overlay-title {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */